@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
}

.flex {
  display: flex;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  text-align: center;
}

p {
  color: var(--desaturated-blue);
}

.container {
  background: var(--pale-blue) url(./images/pattern-background-mobile.svg)
    no-repeat top / contain;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero {
  border-radius: 20px 20px 0 0;
}

.card {
  width: 350px;
  flex-direction: column;
}

.card-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  flex-direction: column;
  justify-content: center;
}

.card-paragraph {
  padding: 20px;
  line-height: 1.5rem;
  text-align: center;
}

.price-content {
  background-color: var(--very-pale-blue);
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
}

.price {
  margin-left: 1.5rem;
  vertical-align: center;
}

.btn-group {
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
}

.btn {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  border-style: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.02rem;
}

.btn-change {
  background-color: transparent;
  border-style: none;
  border-color: transparent;
  text-decoration: underline;
  font-weight: bold;
  color: var(--bright-blue);
}

.btn-change:hover {
  color: var(--desaturated-blue);
}
.btn-primary {
  background-color: var(--bright-blue);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--desaturated-blue);
}

.btn-secondary {
  background-color: #fff;
  color: var(--desaturated-blue);
}

.btn-secondary:hover {
  color: var(--dark-blue);
}

@media screen and (min-width: 800px) {
  .container {
    background: var(--pale-blue) url(./images/pattern-background-desktop.svg)
      no-repeat top / contain;
  }

  .btn {
    font-size: 14px;
    padding: 10px;
  }

  .card {
    width: 400px;
  }
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
